
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text-default {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  font-family: poppins, sans-serif;
}


.text-purple {
  color: #4B0082;
  /* font-size: 1rem; */
  font-family: poppins, sans-serif;
}


.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 50px;
  padding: 10px;
}

.gallery-item img {
  width: 100%;
  object-fit: cover;
   min-height: 250px; 
  border-radius: 8px;
  transition: transform 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.05);
}


@media (max-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .gallery-item img {
    min-height: 220px;
  }
}


@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gallery-item img {
    min-height: 200px;
  }
}